<h1>Héroes <small>Marvel y DC</small></h1>
<hr>

<div class="card-columns">
  <div class="card animated fadein fast" *ngFor="let item of heroes; let i  = index">
    <img class="card-img-top img-fluid" [src]="item.img" [alt]="item.nombre">
    <div class="card-block">
      <h4 class="card-title">{{item.nombre}}</h4>
      <p class="card-text">{{item.bio}}</p>
      <p class="card-text"><small class="text-muted">{{item.aparicion}}</small></p>
    </div>
    <button (click)="verHeroe(i)"
      type="button" class="btn btn-outline-primary btn-block" name="button">Ver más...</button>
    <!--<a [routerLink]="['/heroe', i]" class="btn btn-outline-primary btn-block">Ver más link...</a>-->
  </div>

</div>
